* {
  margin: 0;
  padding: 0;
}

html {
  font-size: 18px;
  width: 100%;
}

a {
  color: white;
}

body {
  background-color: #191765;
  color: white;
  font-family: 'Roboto', sans-serif;
  width: 100%;
}

nav a {
  display: block;
  padding: 0 5px;
  text-decoration: none;
  margin: 5px;
}

.email {
  display: block;
  padding: 1px 1px 0;
  text-decoration: none;
  margin-bottom: -4px;
}

.menu {
  display: none;
}

header {
  align-items: center;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  padding: 15px;
}

header h5 {
  font-weight: 500;
  font-size: 1rem;
  color: #fff;
}

header a {
  text-decoration: none;
}

header a:hover {
  color: gold;
  text-decoration: underline;
}

section {
  box-sizing: border-box;
  text-align: center;
  overflow: hidden;
  padding: 24px;
  position: relative;
  width: 100%;
}

#portfolio {
  background-image: url('images/ball.png'), url('images/ball.png');
  background-size: 184px 184px, 226px 226px;
  background-position: left 20px top 100px, right 20px top 500px;
  background-repeat: no-repeat, no-repeat;
}

.name {
  color: #9390ff;
  font-weight: 700;
  font-size: 4rem;
  line-height: 105px;
  text-align: center;
  margin: 5px;
}

.profession {
  font-weight: 500;
  font-size: 1.77rem;
  line-height: 47px;
  text-align: center;
  margin: 5px;
  color: #efe1e6;
}

p {
  max-width: 40%;
  align-items: center;
  padding-top: 5%;
  padding-left: 35%;
  padding-right: 35%;
  padding-bottom: 5%;
  font-weight: 400;
  font-size: 1.3rem;
  line-height: 32px;
  text-align: center;
  color: #b3bac5;
  margin: 5px;
}

nav li {
  display: inline-block;
}

.container-strengths {
  display: flex;
  max-width: 800px;
  margin: 30px auto;
  justify-content: space-evenly;
  flex-direction: row;
  align-items: stretch;
  padding: 50px 5px;
  text-align: left;
  font-size: 1.1rem;
}

.container-WorkSocial {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  color: #b3bac5;
  padding: 25px 20px 20px 20px;
  font-size: 1.6rem;
}

.container-WorkSocial ul {
  list-style: none;
  margin: 10px 30px 20px 30px;
}

.container-WorkSocial ul li {
  display: inline-block;
  margin: 0 20px;
}

.container-WorkSocial h6 {
  color: white;
  padding: 0;
  font-size: 1rem;
  font-weight: lighter;
}

.features {
  width: 33.3%;
}

.features h4 {
  color: #9390ff;
}

.features ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.features ul li {
  padding: 15px 0;
  color: white;
}

hr {
  border: 1px solid #646369;
  margin: 0 auto;
  width: 100%;
  margin-left: 0;
}

#ctrlHide {
  display: block;
}

#works {
  box-sizing: border-box;
  background: url('images/Ellipse19.png'), url('images/Ellipse20.svg'), url('images/Ellipse21.svg'), url('images/Ellipse22.svg');
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
  background-position: left -50px top 160px, right -80px top 750px, left -10px top 1430px, right -40px top 2000px;
  background-size: 55% auto, 55% auto, 55% auto, 55% auto;
  overflow: hidden;
  display: grid;
  text-align: left;
  justify-content: center;
}

#works h2 {
  color: #9390ff;
  margin-bottom: 15px;
  font-size: 2rem;
}

.superButton {
  border: none;
  background-color: #7d73fc;
  text-decoration: none;
  padding: 8px 12px;
  color: #edecff;
  margin-bottom: 20px;
}

.superButton:hover {
  background-color: #0f0c38;
  text-decoration: none;
  transition-duration: 0.4s;
  cursor: pointer;
}

.superButton:enabled {
  background-color: #7d73fc;
  text-decoration: none;
}

.superButton:disabled {
  background-color: #2a2b33;
  text-decoration: none;
}

.superButton:active {
  background-color: #5e42d7;
  text-decoration: none;
}

.superButtonR {
  background-color: #7d73fc;
  text-decoration: none;
  padding: 8px 5px;
  color: #edecff;
  margin-bottom: 20px;
  font-size: 1rem;
}

.superButtonR:hover {
  background-color: #0f0c38;
}

.superButtonR:enabled {
  background-color: #7d73fc;
}

.superButtonR:disabled {
  background-color: #2a2b33;
}

.superButtonR:active {
  background-color: #5e42d7;
}

article {
  box-sizing: border-box;
  display: grid;
  column-gap: 20px;
  height: auto;
  margin: 0;
  padding: 0;
  width: 100%;
}

.art_img_left {
  grid-template-columns: 60% 40%;
}

.art_img_right {
  grid-template-columns: 40% 60%;
}

.work-image {
  margin: 0;
  padding: 0;
}

.work-image img {
  width: 100%;
  height: auto;
}

.work-text {
  align-items: flex-start;
  justify-content: center;
  flex-direction: column;
  display: flex;
}

.work-text h3 {
  font-size: 1.2rem;
  padding: 0 0 15px 0;
}

.work-text p {
  font-size: 1rem;
  padding: 0 0 20px 0;
  text-align: left;
}

.work-text ul {
  list-style: none;
  margin-bottom: 20px;
  font-size: 0.8rem;
}

.work-text ul li {
  border-right: 1px solid;
  border-right-color: #555;
  margin-right: 10px;
  padding: 6px 12px;
  display: inline-block;
}

#about {
  color: #9390ff;
  font-weight: 400;
  font-size: 1.6rem;
}

#contactForm {
  color: #9390ff;
  font-weight: 400;
  font-size: 1.6rem;
  margin-bottom: 10px;
}

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 250px;
  margin-bottom: 50px;
}

.contact form {
  list-style: none;
  margin-top: 10px;
}

.contact form input {
  width: 100%;
}

.contact form textarea {
  height: 90px;
  margin-top: 12px;
  width: 100%;
}

input::placeholder {
  color: #81818c;
  font-family: 'Roboto', sans-serif;
}

textarea::placeholder {
  color: #81818c;
  font-family: 'Roboto', sans-serif;
}

@media screen and (max-width: 600px) {
  header {
    display: flex;
    box-sizing: border-box;
    padding: 15px;
    width: 100%;
  }

  nav {
    display: none;
  }

  #portfolio {
    background-image: url('images/ball.png'), url('images/ball.png');
    background-size: 226px 226px, 184px 184px;
    background-position: left -140px top 0, right -120px top 480px;
    background-repeat: no-repeat, no-repeat;
  }

  .menu {
    background: url('images/union.png') no-repeat;
    height: 30px;
    display: block;
    width: 30px;
  }

  .name {
    color: #9390ff;
    font-weight: 700;
    font-size: 2.2rem;
    line-height: 105px;
    text-align: center;
  }

  .profession {
    font-weight: 500;
    font-size: 1.5rem;
    line-height: 47px;
    text-align: center;
    margin-left: 8px;
    color: #efe1e6;
  }

  p {
    text-align: center;
    max-width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    font-size: 1rem;
  }

  .container-strengths {
    display: flex;
    margin: 30px 59px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 0;
    font-size: 0.7rem;
    width: 100%;
  }

  .features {
    width: 40%;
  }

  .container-WorkSocial {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
  }

  .container-WorkSocial ul {
    list-style: none;
    margin: 10px 0 20px 0;
  }

  #ctrlHide {
    display: none;
  }

  #works {
    background: url('images/Ellipse19.png'), url('images/Ellipse20.svg'), url('images/Ellipse21.svg'), url('images/Ellipse22.svg');
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat;
    background-position: left -50px top 270px, right -80px top 920px, left -10px top 1670px, right -40px top 2240px;
    background-size: 55% auto, 55% auto, 55% auto, 55% auto;
    overflow: hidden;
    display: grid;
    text-align: left;
    justify-content: center;
  }

  #works h2 {
    color: #9390ff;
    margin-bottom: 15px;
    font-size: 2.3rem;
    padding: 0 0 30px 0;
    margin-right: 0;
    max-width: 65%;
  }

  article {
    box-sizing: border-box;
    display: grid;
    row-gap: 20px;
    height: auto;
    margin: 0;
    padding-top: 55px;
    width: 100%;
  }

  .work-text p {
    font-size: 1rem;
    padding: 0 0 20px 0;
    text-align: left;
    max-width: 100%;
    margin-right: 34px;
  }

  .work-image {
    padding: 0;
    width: 100%;
  }

  .work-image img {
    width: 100%;
    height: auto;
  }

  .art_img_left {
    grid-template-columns: auto;
  }

  .art_img_right {
    grid-template-columns: auto;
  }

  .art_img_right div:nth-of-type(1) {
    order: 2;
  }

  .art_img_right div:nth-of-type(2) {
    order: 1;
  }

  .superButtonR {
    background-color: #7d73fc;
    text-decoration: none;
    padding: 8px 6px;
    color: #edecff;
    margin-bottom: 20px;
    margin-left: 5px;
    font-size: 1rem;
  }
}
